<% @climbs.group_by { |result| result.year }.each do |year, climbs| %>
  <div class="card-year"><%= year %>
    <ul>
      <% climbs.each do |climb| %>
        <div class="card-climb"><%= climb.hill.name %></div>
      <% end %>
    </ul>
  </div>
<% end %>
</ul>
