<h1>Welcome to Unnamed Hill Project!</h1>
<p>In need of some time in the hills?</p>
<div class="cards">
  <div class="card" id="card-map"><span>Plan your trip</span></div>
  <div class="card">Find the nearest pub</div>
  <div class="card">Track your climbs</div>
</div>
