<h4><i>Need some time in the hills?</i></h4>
<h1>Welcome to Unnamed Hill Project!</h1>
<div class="cards">
  <div class="card" id="card-map"><span><%= link_to 'Plan your trip', hills_path %></span></div>
  <div class="card" id="card-pub"><span>Find the nearest pub</span></div>
  <div class="card" id="card-climbs"><span><%= link_to 'Track your climbs', climbs_path %></span></div>
</div>
